@{
    Layout = "_Layout.cshtml";
}

<div class="container" ng-app="room">
    <div ui-view />
</div>

<script id="Room.html" type="text/ng-template">
    <h1>Room</h1>
</script>

<script src="room.js"></script>