@{
    Layout = "_Layout.cshtml";
}

<div class="container" ng-app="creative">
    <div ui-view />
</div>

<script id="Creative.html" type="text/ng-template">
    <form name="frm" ng-submit="createFiles(frm)">
        <h1 class="page-header">Creative</h1>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Title" ng-model="create.title" ng-required />
        </div>
        <div class="form-group">
            <label class="form-label">Original</label>
            <input type="file" name="original"/>
        </div>
        <div class="form-group">
            <label class="form-label">Thumbnail</label>
            <input type="file" name="thumbnail" />
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>
</script>

<script src="creative.js"></script>