@{
    Layout = "_Layout.cshtml";
}

<div class="container">
    <h1 class="page-header">Get started</h1>
    <div class="list-group">
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                <a href="/blogpost">
                    Blog posts
                </a>
            </h4>
            <p class="list-group-item-text">
                <a href="/blogpost#/create">Create</a>
                and
                <a href="/blogpost">edit</a> posts
            </p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                <a href="/invite">
                    Invite user
                </a>
            </h4>
            <p class="list-group-item-text">
                Add individual users via email and role
            </p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                <a href="/creative">
                    Upload creative
                </a>
            </h4>
            <p class="list-group-item-text">
                Add batched files and images as a creative
            </p>
        </div>
        <div class="list-group-item">
            <h4 class="list-group-item-heading">
                <a href="/wall">
                    View wall
                </a>
            </h4>
            <p class="list-group-item-text">
                Latest social posts
            </p>
        </div>
    </div>
</div>

<style>
    .navbar-back {
        display: none;
    }
</style>