@{
    Layout = "_Layout.cshtml";
}

<div class="container" ng-app="blogpost">
    <div ui-view></div>

    <script id="Search.html" type="text/ng-template">
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="listing in result.data">
                    <td>{{listing.cards.medium.title}}</td>
                    <td>
                        <a href="#/read/{{listing.id}}" class="btn btn-primary">
                            View
                        </a>
                        <a href="#/update/{{listing.id}}" class="btn btn-default">
                            Edit
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </script>

    <script id="Create.html" type="text/ng-template">
        <form name="form" ng-submit="createPage(form)">
            <h2>Create blog post</h2>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Path" ng-model="create.path" ng-required />
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Heading" ng-model="create.data.regions.main.sections[0].blocks.heading.text" ng-required />
            </div>
            <div class="form-group">
                <textarea class="form-control" ng-model="create.data.regions.main.seactions[0].blocks.content.text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </script>

    <script id="Read.html" type="text/ng-template">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="page-header">{{resource.data.cards.medium.title}}</h1>
            </div>
        </div>
        <div ng-repeat="section in resource.data.regions.main.sections">
            <div class="row">
                <div class="col-xs-12">
                    <h2>{{section.blocks.header.text}}</h2>
                    <p>{{section.blocks.content.text}}</p>
                </div>
            </div>
        </div>
    </script>

    <script id="Update.html" type="text/ng-template">
        <h1>Edit: {{resource.content.cards.medium.title}}</h1>
        <form name="edit">
            <h2>Card (medium)</h2>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Title" ng-model="resource.data.cards.medium.title" ng-required />
            </div>
            <h2>Tags</h2>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="New tag" ng-model="newTag" />
                <button class="btn btn-default" type="button" ng-click="addTag(newTag);newTag = '';">Add Tag</button>
            </div>
            <div class="form-group">
                <p>
                    <span ng-repeat="tag in resource.data.tags">
                        <span class="label label-default">
                            {{tag}}
                            <span class="glyphicon glyphicon-remove" ng-click="removeTag(tag)"></span>
                        </span>
                    </span>
                </p>
            </div>
            <h2>Sections</h2>
            <div ng-repeat="section in resource.data.regions.main.sections">
                <div class="row">
                    <div class="col-xs-3">
                        {{$index + 1}}
                    </div>
                    <div class="col-xs-6">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Title" ng-model="section.blocks.header.text" ng-required />
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Content" ng-model="section.blocks.content.text"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-3">
                        <div ng-show="!$first">
                            <button type="button" ng-click="moveSectionUp(resource.data.regions.main, section)" class="btn btn-link">
                                <span class="glyphicon glyphicon-chevron-up"></span>
                                Move Up
                            </button>
                            <br />
                        </div>
                        <div ng-show="!$last">
                            <button type="button" ng-click="moveSectionDown(resource.data.regions.main, section)" class="btn btn-link">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                                Move Down
                            </button>
                            <br />
                        </div>
                        <button type="button" ng-click="addSection(resource.data.regions.main, $index)" class="btn btn-link">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add Before
                        </button>
                        <br />
                        <button type="button" ng-click="addSection(resource.data.regions.main, $index + 1)" class="btn btn-link">
                            <span class="glyphicon glyphicon-plus"></span>
                            Add After
                        </button>
                        <br />
                        <button type="button" ng-click="removeSection(resource.data.regions.main, $index)" class="btn btn-link">
                            <span class="glyphicon glyphicon-remove"></span>
                            Remove
                        </button>
                    </div>
                </div>
                <hr ng-show="!$last" />
            </div>
            <div class="well" ng-if="resource.data.regions.main.sections.length == 0">
                <button type="button" ng-click="addSection()">Add first section</button>
            </div>
            <button class="btn btn-primary" type="button" ng-click="updatePage(edit)">Save</button>
        </form>
    </script>
</div>

<script src="blogpost.js"></script>